# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit datacoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/datacoin/datacoin.conf

[Unit]
Description=Datacoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/datacoind -daemon -conf=/etc/datacoin/datacoin.conf -pid=/run/datacoind/datacoind.pid
# Creates /run/datacoind owned by datacoin
RuntimeDirectory=datacoind
User=datacoin
Type=forking
PIDFile=/run/datacoind/datacoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
